<ion-header>
  <ion-toolbar>
    <ion-title>Healthier Alternatives</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="healthierAlternatives">
    <ion-card-header>
      <ion-card-title>Healthier Alternatives for Your Product</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ healthierAlternatives }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="onFetchAlternativesClick()">Fetch Healthier Alternatives</ion-button>
  
  <ion-button (click)="router.navigate(['/home'])">Back to Home</ion-button>
</ion-content>
