<ion-header [translucent]="true">
  <ion-toolbar class="ion-justify-content-center">
    <ion-title class="ion-text-center">Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="welcome-container ion-padding">

    <h1 class="ion-text-center">NutriScan</h1>
    <p class="tagline ion-text-center">
      Scan, track, and understand your food better. Make healthier choices, every day.
    </p>

    <ion-button expand="block" color="primary" routerLink="/login" class="ion-margin-top">
      Login
    </ion-button>
    <ion-button expand="block" fill="outline" routerLink="/register" class="ion-margin-top">
      Register
    </ion-button>
  </div>
</ion-content>