<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Back Button on the left -->
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>

    <!-- Title in the center -->
    <ion-title class="centered-title">NutriScan</ion-title>

    <!-- Home Button on the right -->
    <ion-buttons slot="end">
      <ion-button (click)="goHome()">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>