.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  
  .auth-content {
    display: flex;
    justify-content: center;
    align-items: center;
    --background: var(--ion-color-light);
  }
  
  .auth-wrapper {
    width: 100%;
    max-width: 400px;
    padding: 16px;
    margin: auto;
  }
  
  .auth-card {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
  }
  
  .subtitle {
    font-size: 14px;
    color: #666;
    margin-top: 4px;
  }