<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="auth-wrapper">
    <ion-card class="auth-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Welcome Back</ion-card-title>
        <p class="ion-text-center subtitle">Sign in to continue</p>
      </ion-card-header>

      <ion-card-content>
        <form (submit)="login()">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" required [(ngModel)]="email" name="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" required [(ngModel)]="password" name="password"></ion-input>
          </ion-item>

          <div *ngIf="errorMessage" class="ion-text-center" style="color: red; margin-bottom: 16px;">
            {{ errorMessage }}
          </div>

          <ion-button expand="block" type="submit" class="ion-margin-top">Sign In</ion-button>
        </form>

        <div class="ion-text-center ion-margin-top">
          <p>Don't have an account?</p>
          <ion-button fill="clear" size="small" routerLink="/register">Create Account</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
