<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="auth-wrapper">
    <ion-card class="auth-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Create Account</ion-card-title>
        <p class="ion-text-center subtitle">Start your health journey</p>
      </ion-card-header>

      <ion-card-content>
        <form (submit)="register()" autocomplete="off">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required></ion-input>
          </ion-item>

          <div *ngIf="errorMessage" class="error-message ion-text-center ion-margin-top">
            {{ errorMessage }}
          </div>

          <ion-button expand="block" class="ion-margin-top" type="submit">Register</ion-button>
          <ion-button expand="block" fill="clear" color="medium" routerLink="/login">
            Already Have an Account?
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
