.history-description {
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .history-description h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .history-description p {
    font-size: 16px;
    color: #666;
  }