.scanner-active {
    background: transparent !important;
  }
  
  .scanner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50%;
    text-align: center;
  }