.home-description {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .home-description h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .home-description p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
  }