<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Grid of Cards -->
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="navigateTo('scan')">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Scan</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card (click)="navigateTo('history')">
          <ion-card-header>
            <ion-card-title class="ion-text-center">History</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card (click)="navigateTo('settings')">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Settings</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card (click)="navigateTo('results')">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Last Scan</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
