<ion-header>
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-box">
    <h2>Welcome to the App!</h2>
    <p>Please choose an option to get started.</p>

    <ion-button expand="block" color="primary" [routerLink]="['/login']">
      Log In
    </ion-button>

    <ion-button expand="block" fill="outline" color="secondary" [routerLink]="['/create']">
      Create Account
    </ion-button>
  </div>
</ion-content>